In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
june_0 = dt.date(2010, 6, 30)
before_june_0 = dt.date(2010, 6, 1)
june_1 = dt.date(2011, 6, 30)
before_june_1 = dt.date(2011, 6, 1)
june_2 = dt.date(2012, 6, 30)
before_june_2 = dt.date(2012, 6, 1)
june_3 = dt.date(2013, 6, 30)
before_june_3 = dt.date(2013, 6, 1)
june_4 = dt.date(2014, 6, 30)
before_june_4 = dt.date(2014, 6, 1)
june_5 = dt.date(2015, 6, 30)
before_june_5 = dt.date(2015, 6, 1)
june_6 = dt.date(2016, 6, 30)
before_june_6 = dt.date(2016, 6, 1)
june_7 = dt.date(2017, 6, 30)
before_june_7 = dt.date(2017, 6, 1)

In [5]:
# 3. Convert the June temperatures to a list.
results_0 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_0, Measurement.date >= before_june_0).all()
results_1 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_1, Measurement.date >= before_june_1).all()
results_2 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_2, Measurement.date >= before_june_2).all()
results_3 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_3, Measurement.date >= before_june_3).all()
results_4 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_4, Measurement.date >= before_june_4).all()
results_5 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_5, Measurement.date >= before_june_5).all()
results_6 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_6, Measurement.date >= before_june_6).all()
results_7 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_7, Measurement.date >= before_june_7).all()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df0 = pd.DataFrame(results_0, columns=['June','June Temps'])
df1 = pd.DataFrame(results_1, columns=['June','June Temps'])
df2 = pd.DataFrame(results_0, columns=['June','June Temps'])
df3 = pd.DataFrame(results_1, columns=['June','June Temps'])
df4 = pd.DataFrame(results_0, columns=['June','June Temps'])
df5 = pd.DataFrame(results_1, columns=['June','June Temps'])
df6 = pd.DataFrame(results_0, columns=['June','June Temps'])
df7 = pd.DataFrame(results_1, columns=['June','June Temps'])
dfa = df0.append(df1)
dfb = df2.append(df3)
dfc = df4.append(df5)
dfd = df6.append(df7)
dfe = dfa.append(dfb)
dff = dfc.append(dfd)
df = dfa.append(dfc)
df.set_index(df['June'], inplace=True)

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       June Temps
count  938.000000
mean    74.447761
std      2.883719
min     65.000000
25%     73.000000
50%     75.000000
75%     76.000000
max     85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_0 = dt.date(2010, 12, 31)
before_december_0 = dt.date(2010, 12, 1)
december_1 = dt.date(2011, 12, 31)
before_december_1 = dt.date(2011, 12, 1)
december_2 = dt.date(2012, 12, 31)
before_december_2 = dt.date(2012, 12, 1)
december_3 = dt.date(2013, 12, 31)
before_december_3 = dt.date(2013, 12, 1)
december_4 = dt.date(2014, 12, 31)
before_december_4 = dt.date(2014, 12, 1)
december_5 = dt.date(2015, 12, 31)
before_december_5 = dt.date(2015, 12, 1)
december_6 = dt.date(2016, 12, 31)
before_december_6 = dt.date(2016, 12, 1)
december_7 = dt.date(2017, 12, 31)
before_december_7 = dt.date(2017, 12, 1)

In [9]:
# 7. Convert the December temperatures to a list.
results_0 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_0, Measurement.date >= before_december_0).all()
results_1 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_1, Measurement.date >= before_december_1).all()
results_2 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_2, Measurement.date >= before_december_2).all()
results_3 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_3, Measurement.date >= before_december_3).all()
results_4 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_4, Measurement.date >= before_december_4).all()
results_5 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_5, Measurement.date >= before_december_5).all()
results_6 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_6, Measurement.date >= before_december_6).all()
results_7 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= december_7, Measurement.date >= before_december_7).all()

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df0 = pd.DataFrame(results_0, columns=['December','December Temps'])
df1 = pd.DataFrame(results_1, columns=['December','December Temps'])
df2 = pd.DataFrame(results_0, columns=['December','December Temps'])
df3 = pd.DataFrame(results_1, columns=['December','December Temps'])
df4 = pd.DataFrame(results_0, columns=['December','December Temps'])
df5 = pd.DataFrame(results_1, columns=['December','December Temps'])
df6 = pd.DataFrame(results_0, columns=['December','December Temps'])
df7 = pd.DataFrame(results_1, columns=['December','December Temps'])
dfa = df0.append(df1)
dfb = df2.append(df3)
dfc = df4.append(df5)
dfd = df6.append(df7)
dfe = dfa.append(dfb)
dff = dfc.append(dfd)
df = dfa.append(dfc)
df.set_index(df['December'], inplace=True)

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       December Temps
count      916.000000
mean        70.506550
std          3.271496
min         58.000000
25%         69.000000
50%         71.000000
75%         73.000000
max         80.000000